$primary: white;
$red: #D8000C;
$black: #212529;
$success:#17A2B8;
$cancel: #FFC107;
$light-blue: #00D4FF;
$light-gray: #CDCDCD;

@import url('https://fonts.googleapis.com/css?family=Raleway');
$font-primary: 'Raleway', sans-serif;
